.ui.small.modal(ref=setRef)
    .ui.header= ifNew ? 'Create new graph' : 'Edit graph'
    .ui.content
        form.ui.form(onSubmit=submit)
            if timeStamp
                .ui.right.aligned.grid
                    .row
                        .column
                            .ui.pointing.below.small.basic.label Last modified:
                                .detail= timeStamp
            .required.field
                label Title
                input(type="text", name="title", onChange=handleFieldChange, value=title, required)
            .field
                label Description
                textarea(rows="2", name="description", onChange=handleFieldChange, value=description)
            .ui.right.aligned.grid
                .row
                    .column
                        .actions
                            .ui.cancel.black.button Cancel
                            button.ui.ok.green.right.labeled.icon.button(type="submit")
                                | Save
                                i.save.icon
