.ui.small.modal(ref=setRef)
    .header Import as a new graph
    .content
        form.ui.form(onSubmit=submit)
            .required.field
                label Title
                input(type="text", name="title", onChange=handleFieldChange, value=title)
            .field
                label Description
                textarea(rows="2", name="description", onChange=handleFieldChange, value=description)
            .required.field
                label File
                .ui.action.input
                    .ui.black.icon.basic.button(onClick=function(ev){console.log(ev.nativeEvent.target);ev.stopPropagation();$(ev.target).find('input').click();})
                        i.black.outline.open.folder.icon
                            input(type="file", name="data", accept="application/json", style="display: none" onChange=handleFieldChange onClick=function(ev){ev.stopPropagation()})
                    input(type="text", name="fname", readOnly, value=file)
            .actions
                .ui.cancel.black.button Cancel
                button.ui.ok.green.right.labeled.icon.button(type="submit")
                    | Save
                    i.save.icon
