.ui.small.modal(ref=setRef)
    .header Import as a new graph
    .content
        form.ui.form(onSubmit=submit)
            .required.field
                .label Title
                input(type="text", name="title", onChange=handleFieldChange, value=title)
            .field
                .label Description
                textarea(rows="2", name="description", onChange=handleFieldChange, value=description)
            .field
                .label File
                input(type="file", name="data", accept="application/json", onChange=handleFieldChange)
            .actions
                .ui.cancel.black.button Cancel
                button.ui.ok.green.right.labeled.icon.button(type="submit")
                    | Save
                    i.save.icon
