- var link = "#!/" + graph.id + "/operate"
- var timeStamp = new Date(Number.parseInt(graph.info.tstamp)).toString()
// - var timeStamp = (new Date()).toString()
.item.blurring.dimmable(ref=setRef)
    i.large.clockwise.rotated.orange.fork.icon
    .content
        a.header(href=link)= graph.info.label
        .meta
            .ui.small.basic.label Last modified
                .detail= timeStamp
        .description= graph.info.comment
        .extra
            button.ui.compact.tiny.basic.button(onClick=edit(graph))
                i.edit.icon
                | Edit
            button.ui.compact.tiny.basic.button(onClick=duplicate(graph))
                i.copy.icon
                | Duplicate
            button.ui.compact.tiny.basic.button(onClick=remove(graph))
                i.remove.icon
                | Remove
    if graph.isFetching
        .ui.active.inverted.dimmer
            //- .ui.loader
            .content
                .center
                    h3.ui.icon.header
                        i.ui.big.black.spinner.loading.icon
