.ui.middle.aligned.center.aligned.grid
  .row
    .column
      h2.ui.orange.image.header
        img.image(src=logo)
        .content Register a new account
      //- .ui.segment
      form.ui.large.form(onSubmit=register)
        .field
          .ui.left.icon.input(class=error? 'error' : '')
            i.user.icon
            input(type="text" name="login" placeholder="Login" onChange=handleFieldChange)
        .field
          .ui.left.icon.input(class=error? 'error' : '')
            i.mail.icon
            input(type="email" name="mail" placeholder="E-mail" onChange=handleFieldChange)
        .field
          .ui.left.icon.input(class=error? 'error' : '')
            i.lock.icon
            input(type="password" name="password" placeholder="Password" onChange=handleFieldChange)
        input.ui.fluid.large.orange.submit.button(type="submit", value="Login")
      if error
        .ui.bottom.attached.small.error.message
          i.ui.close.icon(onClick=clearError)
          .header Failed
          pre.ui.left.aligned.container
            != error

      a(href="#!/login") Back to login page
